header {
  width: 100%;
  height: 70px;
  background-color: #000;
  .wrapImg {
    height: 100%;
    line-height: 70px;
    img {
      height: 40px;
    }
  }
  .wrapText {
    height: 100%;
    h2 {
      color: #fff;
      line-height: 70px;

    }
  }
}
